tailf: False
resolve: False
path: "/srv/www/example.com/logs/example.com-acc"
collect_interval: 5
top_count: 10
show_rps: True
show_ip: True
show_request: True
show_agent: True
show_status: True
show_geo: True
show_slow_requests: True
show_host: True

la_threshold: 0
block_threshold_rps: 20
block_threshold_ip: 4000

#bad_user_agent_block_threshold_rps: 2
#bad_user_agent:
#  - "AhrefsBot"
#  - "NetpeakSpiderBot"
#  - "MJ12bot"
#  - "Barkrowler"
#  - "PetalBot"
#  - "DotBot"
#  - "4seo-checker-bot"
#  - "YandexBot"

#bad_dns_block_threshold_rps: 2
#bad_dns:
#  - "tor"
#  - ".ahrefs.com"
#  - ".spider.yandex.com"
#  - ".search.msn.com"
#  - ".go.mail.ru"

whitelist_ip:
  - "127.0.0.1"

whitelist_dns:
  - "test.dontblock.com"

#whitelist_requests:
#  - "/admin/"
#  - "/crm"

block_cmd: "./iptctl.py --time 60 --add {ip}"



